.learning-page-container {
    padding: 20px;
    background-color: #FAFAFA; /* Màu nền hài hòa */
    min-height: 100vh;
  }
  
  .learning-page-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #056CF2; /* Màu chữ nổi bật */
  }
  
  .lessons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .lesson-card {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .lesson-card a {
    color: #056CF2;
    text-decoration: underline;
  }
  
  .button-group {
    margin-top: 10px;
  }
  